<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.RemoveFromCartTest"/>
      <class name="testscripts.Verify_If_Mens_link_isclickable"/>
      <class name="testscripts.EditProfileTest"/>
      <class name="testscripts.HelpTest"/>
      <class name="testscripts.MessageTest"/>
      <class name="testscripts.TC01_Test"/>
      <class name="testscripts.CheckDeliveryTest"/>
      <class name="testscripts.PriceIncreaseTest"/>
      <class name="testscripts.MyLikesTest"/>
      <class name="testscripts.CreateAccountTest"/>
      <class name="testscripts.AddToWishListTest"/>
      <class name="testscripts.BuyNowTest"/>
      <class name="testscripts.ProductDescTest"/>
      <class name="testscripts.ViewTransactionsTest"/>
      <class name="testscripts.AddAddressTest"/>
      <class name="testscripts.QuantityIncreaseTest"/>
      <class name="testscripts.AddToCartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
